.buttons {
  /* border: 1px solid darkmagenta; */
}
.none {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* padding: 5px; */
}

.magictools {
  display: flex;
  gap: 5px;
  align-items: center;
}

.audio {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.magictools {
  background-color: #e0e4ff;
  color: #909bf9;
  padding: 5px 10px;
  cursor: pointer;
}

.vol,
.speed {
  padding: 5px 10px;
  /* border: 1px solid seagreen; */
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.audio-dots {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-left: 1.5px solid lightgray;
  cursor: pointer;
}

.animations,
.transitions {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.at {
  border-right: 1.5px solid lightgray;
}

.hidden {
  display: none;
}
