.addfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
}

.addfile h1 {
  font-size: 1.65rem;
  font-weight: 600;
}

.filebox {
  border: 0.5px solid lightgray;
  width: 750px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filebox:hover {
  border: 1px dashed #5666f5;
  background-color: #ebedff;
  cursor: pointer !important;
}

.upload-icon {
  padding: 8px;
  border-radius: 50%;
  background: #5666f5;
  color: #fff;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a span {
  color: #000;
}

.addfile-buttons {
  width: 100%;
  text-align: center;
}

.addfile-btn {
  border: 1px solid lightgray;
  padding: 25px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.addfile-btn:hover {
  border: 1px solid #5666f5;
  color: #5666f5;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}
